
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    text-align: center;
    background-color: blueviolet;
    

}
header{
    text-overflow: initial;
    background: linear-gradient(93deg, aquamarine, black);
    border-radius: 1px;
    height: 90px;
    border-radius: 20px;


}
.container {
    max-width: 500px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(93deg, pink, blue);
    
}
input[type="text"] {

    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    
}
button {
    padding: 10px 40px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: pink;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 5px;
}
.delete {
    color: red;
    cursor: pointer;
    margin-left: 50px;

}
footer{
    text-overflow: initial;
    background: linear-gradient(93deg, rgb(187, 102, 102), rgb(204, 192, 255));
    height: 200px;
    border-radius: 10px;
}